body {background-color: #6a92e1;}

h1 {
    font-family: Verdana;
}

p.thick{
    font-weight: 900;
}

h2{
    font-family: Verdana;
    font-size: 14px;
}

p{
    font-family: Verdana;
    font-size: 12px;

}

h3{
    letter-spacing: 15px;
}